body{
    background-image: url(./imagens/fundo.png);
    background-color: #d2d2c1;
    font: 16px Arial, Helvetica, sans-serif;
    
}

#principal{
    width: 900px;
    padding-left: 200px;
    padding-right: 200px;
}

#menu{
    background: #c5c5b2;
    padding: 15px;
}

#conteudo{
    background: #e8e8d9;
    padding: 10px;
}

#rodape{
    text-align: center;
}

a{
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

h1{
    color: #828271;
    font-size: 1.4em;
}


.img-campanha{
    border: 10px solid #c3c3ae;
}